* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$facc_color: rgb(191, 191, 240);
$border: rgb(64, 64, 146);

@mixin general($width, $height, $background_color) {
  content: '';
  width: $width;
  height: $height;
  display: block;
  position: absolute;
  background-color: $background_color;
}

#koya {
  // margin: auto;
  margin-top: 500px;
  position: relative;
  width: 100px;
  aspect-ratio: 3/4;
  top: 10px;
  transition: 0.1s linear;
  transform-origin: bottom right;
  border-radius: 30% 30% 70% 70%;
}

.ears::before {
  @include general(33%, 25%, $facc_color);
  border-radius: 50%;
  left: 0;
  border: 1px solid $border;
}

.ears::after {
  @include general(33%, 25%, $facc_color);
  border-radius: 50%;
  right: 0;
  border: 1px solid $border;
}

.face::after {
  @include general(66%, 35%, $facc_color);
  left: 50%;
  transform: translate(-50%, 34%);
  border-radius: 55% 55% 45% 45%;
  border: 1px solid $border;
}

.eyes::before {
  @include general(11%, 1.5%, black);
  left: 28%;
  top: 29%;
  border-radius: 20%;
  z-index: 1;
  transform: rotate(-13deg);
}
.eyes::after {
  @include general(11%, 1.5%, black);
  right: 28%;
  top: 29%;
  border-radius: 20%;
  z-index: 1;
  transform: rotate(13deg);
}

.nose {
  @include general(14%, 13%, rgb(127, 71, 179));
  border: 1px solid black;
  border-radius: 55% 55% 40% 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 27%;
}

.mouth {
  @include general(15%, 10%, transparent);
  border: 1px solid transparent;
  border-bottom: 1px solid $border;
  border-radius: 45%;
  left: 50%;
  top: 33.5%;
  z-index: 1;
  transform: translateX(-50%);
}

.hands::before {
  @include general(20%, 15%, $facc_color);
  border: 1px solid $border;
  border-radius: 50%;
  top: 45%;
  left: 15%;
}
.hands::after {
  @include general(20%, 15%, $facc_color);
  border: 1px solid $border;
  border-radius: 50%;
  top: 45%;
  right: 15%;
}
.tum::before {
  @include general(50%, 42%, $facc_color);
  border: 1px solid $border;
  border-radius: 45%;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  z-index: -1;
}
.tum::after {
  @include general(30%, 30%, white);
  border-radius: 45%;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  z-index: -1;
}
.legs::before {
  @include general(28%, 24%, $facc_color);
  border: 1px solid $border;
  border-radius: 50%;
  top: 70%;
  left: 15%;
}
.legs::after {
  @include general(28%, 24%, $facc_color);
  border: 1px solid $border;
  border-radius: 50%;
  top: 70%;
  right: 15%;
}

#ground {
  width: 100%;
  height: 10px;
  background-color: black;
  position: relative;
}

#rock {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: -100px;
  border-radius: 40%;
  z-index: 2;
  // animation: roll 3s infinite linear;
}

@keyframes roll {
  to {
    margin-right: 100vw;
    transform: rotate(-1500deg);
  }
}
